{% extends 'inventario/base.html' %}

{% block content %}
<h2>Usuarios</h2>
<div class="row">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Rol</th>
                </tr>
            </thead>
            <tbody>
                {% for usu in usuarios %}
                <tr>
                    <td>{{ usu.username }}</td>
                    <td>{{ usu.rol }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h3>Añadir Usuario</h3>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label>Username</label>
                <input type="text" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label>Rol</label>
                <select name="rol" class="form-select">
                    <option value="admin">Admin</option>
                    <option value="vendedor">Vendedor</option>
                </select>
            </div>
            <p><small>Password por defecto: 123</small></p>
            <button type="submit" class="btn btn-success">Añadir</button>
        </form>
    </div>
</div>
{% endblock %}
